/* SETUP */

* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 25px;
}

a {
    color: inherit;
    text-decoration: none;
}


/* DEV STYLES */

/* body * {
    border: 1px solid blue;
    padding: 2px;
} */

/* STRUCTURE */


section {
    border: 4px solid lime;
}

header,
footer,
main {
    border: 4px solid red;
}

body {
    border: 10px solid blue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

/* MODULES */

.inner-column {
    display: block;
    border: 4px solid orange;
    padding-inline: 70px;
}

@media (min-width: 700px) {
    .graphic-module {
        display: flex;
        flex-direction: row-reverse;
        gap: 8px;
    }

    .graphic-module :is(.text-content, .picture) {
        flex-basis: 50%;
    }
}

.text-content {
    align-content: center;
}

.card-header,
.card-text {
    text-align: center;
}

.graphic-cards {
    display: flex;
    gap: 16px;
}

.quote {
    display: flex;
    flex-flow: column nowrap;

}

.quote-credit {
    text-align: end;
}

.cta {
    display: flex;
    justify-content: space-evenly;
}




.cta-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: fit-content;
}

/* TYPOGRAPHY */