/* SETUP */

* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 25px;
}

a {
    color: inherit;
    text-decoration: none;
}


/* DEV STYLES */

body * {
    border: 1px solid blue;
    padding: 2px;
}

/* STRUCTURE */




body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

/* MODULES */

.inner-column {
    display: block;
    padding-inline: 70px;
    padding-block: 20px;
}

@media (min-width: 700px) {
    .graphic-module {
        display: flex;
        flex-direction: row-reverse;
        gap: 8px;
    }

    .graphic-module :is(.text-content, .picture) {
        flex-basis: 50%;
    }
}

.text-content {
    align-content: center;
}

.card-header,
.card-text {
    text-align: center;
}

.graphic-cards {
    display: flex;
    gap: 16px;
}

.quote {
    display: flex;
    flex-flow: column nowrap;

}

.quote-credit {
    text-align: end;
}

.cta {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding-inline: 80px;
    padding-block: 20px;
    background-color: blue;
    border-radius: 22px;
}

.cta-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: fit-content;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

footer {
    text-align: center;
}

/* TYPOGRAPHY */